unicorn>=1.0.1
capstone>=3.0.5
keystone-engine>=0.9.1.post3

# libnum>=1.4
git+git://github.com/sasdf/libnum.git@master#egg=libnum

pycrypto>=2.6.1
tqdm>=4.28.1
requests>=2.20.0
pyelftools>=0.25
pefile>=2018.8.8
python-box>=3.2.0
